* {
  box-sizing: border-box;
}

#container {
  margin: 5rem 10rem;
  height: 100vh;
  width: auto;
  display: grid;
  grid-template-rows: 1fr 2fr auto;
}

.title {
  font-family: 'Playfair Display', serif;
  font-size: 48px;
  font-weight: 700;
}

.title h1 {
  margin: 0;
}

.text {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  align-items: start;
  height: 120px;
  width: 593px;
  margin: 0;
}

.text-img {
  position: relative;
  top: 15px;
}

.text-text p {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  color: #4f4f4f;
  font-size: 14px;
  font-weight: 500;
}

.image-container img {
  max-width: 100%;
  object-fit: contain;
}

.info-ingredients-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.info-container {
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  width: 216px;
  height: 367px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.servings, .prep-time, .cook-time, .time {
  display: flex;
}

.servings-icon, .time-icon {
  position: relative;
  top: 5px;
  margin-right: 10px;
}

.servings-info .title, .total-info .title {
  color: #bdbdbd;
  font-size: 10px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

.servings-icon {
  font-size: 30px;
  color: #f2994a
}

.servings-info .info {
  color: #f2994a
}

.time-icon {
  color: #4f4f4f;
  font-size: 30px;
}

.servings-info .title, .servings-info .info, .total-info .title, .total-info .info {
  margin: 5px;
}

.servings-info .info, .total-info .info {
  font-size: 14px;
  font-weight: 500px;
  font-family: 'Montserrat', sans-serif;
}

.ingredients-container, .instructions-container{
  color: #333;
  width: 550px;
}

.ingredients-container h3, .instructions-container h3 {
  font-size: 24px;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

.crust-title h5, .cheesecake-title h5 {
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
}

.crust-ingredients, .cheesecake-ingredients, .instruction {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}

.checkbox {
  display: flex;
  margin: 10px;
}

.checkbox input {
  margin-right: 10px;
  border: 1px solid #828282;
  border-radius: 4px;
}

.instructions-container {
  height: auto;
}

.instruction {
  display: flex;
}

.instruction span {
  position: relative;
  top: 15px;

  font-family: 'Playfair Display';
  font-size: 24px;
  background-color: #f2994a;
  color: white;
  height: 36px;
  width: 36px;
  padding: 0px 10px;
  margin-right: 20px;
  text-align: center;
  border-radius: 6px;
}

main .source { 
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  color: #bdbdbd;
}

footer {
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

footer span {
  color: #828282;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
}

footer span a {
  color: #828282
}

@media only screen and (max-width: 1100px) {
  #container {
    margin: 1rem 1rem;
  }
}

@media only screen and (max-width: 820px) {
  #container {
    margin: 30px 0 0 0;
    width: fit-content;
  }

  .title h1 {
    font-size: 24px;
  }

  .text {
    height: auto;
    width: auto;
  }

  .text-text p {
    font-size: 12px;
  }
  
  .info-ingredients-container {
    display: block;
    width: auto;
  }

  .ingredients-container, .instructions-container {
    width: auto;
  }

  .info-container {
    box-shadow: none;
    display: block;
    height: auto;
    width: auto;
    margin-top: 5px
  }

  .yield {
    margin-bottom: 20px;
  }

  .times {
    display: flex;
    justify-content: space-between;
    width: auto;
  }

  .servings-info .title, .total-info .title {
    font-size: 8px;
  }

  .time-icon {
    margin: 0;
  }

  .fa {
    position: relative;
    bottom: 5px;
    font-size: 22px;
    margin: 0;
    width: auto;
  }

  .servings-info .info, .total-info .info {
    font-size: 10px;
  }

  .ingredients-container h3, .instructions-container h3 {
    font-size: 18px;
  }

  .crust-title h5, .cheesecake-title h5 {
    font-size: 16px;
  }
}